#Ignore directory with fastq files
fq
!fq/MaRS/SRR_Acc_List.txt
#Ignore output directory
local
#Ignore reference folder
#ref
#!ref/mdr.fa
#!ref/mdr.bed
#Ignore pycache
__pycache__
pyamd/__pycache__
