<div class="row center">
  <div class="col s4"></div>
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <span class="card-title"><a style="color:white" href=""></a></span>
      </div>
      <div class="card-content">
        <a href="http://www.wwarn.org">
          <img class="logo-image" src="images/WWARN_logo.jpg" alt="WWARN" width="150" height="150" hspace="40">
        </a>
        <a href="https://www.wadsworth.org">
          <img class="logo-image" src="images/nw.jpg" alt="New York Wadsworth" width="150" height="150" hspace="40">
        </a>
        <a href="https://www.ucad.sn">
          <img class="logo-image" src="images/sen.png" alt="Senegal" width="150" height="150" hspace="40">
        </a>
      </div>
    </div>
  </div>
  <div class="col s4"></div>
</div>
